<!DOCTYPE html>
<html>
  <head>
    <title>Look</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
 
  </head>
<header>
  <div class="container">   
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
        <li><a href="collapsible.html">JavaScript1</a></li>
      </ul>
    </div>
  </nav>
</header>

  <body>
  <p>Aliqua quis ipsum consectetur laborum adipisicing cupidatat 
          non in ipsum exercitation eu ullamco nostrud.</p>
          <p>Aliqua quis ipsum consectetur laborum adipisicing cupidatat 
          non in ipsum exercitation eu ullamco nostrud.</p>
          <p>Aliqua quis ipsum consectetur laborum adipisicing cupidatat 
          non in ipsum exercitation eu ullamco nostrud.</p>
    <%= yield %>
  </body>
</html>
